channels==2.4.0
dash_bootstrap_components==0.13.1
dash_bootstrap_templates==1.0.7
Django==3.2.15
django_plotly_dash==2.0.0
django_resized==1.0.2
django_taggit==3.1.0
django_tinymce==3.5.0
numpy==1.23.4
pandas==1.5.1
plotly==5.10.0
python-decouple==3.6
